<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ "/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/codecode.coop.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/highlight.css" | relative_url }}">
</head>
