<footer class="site-footer">
  <div class="site-footer__logo">
    <a href="{% link index.html %}" title="Page d’accueil">
      <img src="{{ "/images/logo.png" | relative_url }}" />
    </a>
  </div>
  <div class="site-footer__text">
    <p>
      {{ site.title }} est un site collaboratif. Vous pouvez nous <a href="mailto:bonjour@codecode.coop">contacter</a>.
    </p>
    <p>
      Consultez les sources sur GitLab pour <a href="https://gitlab.com/CodeursEnLiberte/codecode.coop/blob/main/{{ page.path }}">participer, corriger ou améliorer ce texte</a>.
    </p>
    <p>
      <a href="{% link apropos.markdown %}">À propos</a>.
    </p>
  </div>
</footer>
