---
layout: default
---

<h1>
	Témoignage de {{ page.nom }}
	<p class='sub-header'>{{ page.date | date: '%d/%m/%Y' }}</p>
</h1>

{{ content }}

<p>
  <a href="{{ page.homepage }}" target="_blank">Leur site internet</a>
</p>
